/* div{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 15px;
}

h1{
    font-size: 35px;
}

button{
    font-size: 20px;
    padding: 14px 25px;
} */

body{
    background-color: darkslategrey !important;
}

button {
    border-radius: 45px !important;
}