.bg-light-green {
    background-color: rgb(225, 241, 252);
}

.is-form-valid {
    border: 1px solid limegreen !important;
    border-left: 15px solid limegreen !important;
    box-shadow: 0 0 5px limegreen !important;
}

.is-form-invalid {
    border: 1px solid orangered !important;
    border-left: 15px solid orangered !important;
    box-shadow: 0 0 5px orangered !important;
}

.text-success {
    color: limegreen !important;
    font-size: 14px !important;
}

.text-danger {
    color: orangered !important;
    font-size: 14px !important;
}






/* div{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 15px;
}

h1{
    font-size: 35px;
}

button{
    font-size: 20px;
    padding: 14px 25px;
} */

